body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #EBEEE9;
    font-family: "Libre Bodoni", serif;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    min-width: 100vh;
    height: 100%;
    padding-bottom: 100%;
    position: relative;
}

.margin-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
}