.top-section {

    height: 680px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-section-border {

    background-color: #29272F;
    background-image: url(/media/textures/grain-texture2.png);
    background-repeat: repeat;
    background-size: contain;
    background-size: 100px;
    border-radius: 25px;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.top-border-content {

    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: blur(7px);
    }
}

.top-section-content-left {
    z-index: 2;
    height: 100%;
    display: flex;
    padding-left: 40px;
    align-items: center;
    width: 50%;

    .content-image-dividers {
    
        .content-left {

            .left-titles {
                font-size: 55px;

                .title-1, .title-2, .title-3{
                    margin: 0px;
                    padding: 0;
                    color: #F2F2F2;
                }
                .title-2{
                    color: #D6650F;
                    font-style: italic;
                }
            }
        }
    }
}

.top-section-content-right {

    z-index: 2;
    padding: 40px;

    width: 40%;

    .content-right {
        z-index: 3;
        background-color: #F2F2F2;
        background-image: url(/media/textures/grain-texture-light.png);
        background-repeat: repeat;
        background-size: contain;
        background-size: 100px;
        padding: 20px;
        border-radius: 25px 25px 25px 0px;
        width: 90%;
        height: 439px;

        position: relative;

        .right-titles {
            text-align: center;
            color: #29272F;
            height: 120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-size: 27px;
                margin-bottom: 0px;
            }

            h4 {
                margin-top: 0px;
                padding-top: 0px;
                font-size: 14px;
            }
        }

        .register-form {
            width: 100%;
            height: 73.3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .registration-username, .registration-email, .registration-password {
                width: 300px;
                height: 38px;
                border-radius: 100px;

                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    background-color: none;
                    border: solid 1.5px #29272F;
                    background-color: white;

                    &::placeholder {
                        color: #29272F;
                        padding-left: 10px;
                    }
                }
            }

            .registration-username {
                input[type="text"]:focus {
                    padding-left: 10px;
                }
            }

            .registration-email {
                input[type="email"]:focus {
                    padding-left: 10px;
                }
            }

            .registration-password {
                input[type="password"]:focus {
                    padding-left: 10px;
                }
            }
        }
    }

    .content-right::before {
        content: "";
        width: 50%;
        height: 88px;
        border-radius: 0px 0px 25px 25px;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #F2F2F2;
        background-image: url(/media/textures/grain-texture-light.png);
        background-repeat: repeat;
        background-size: contain;
        background-size: 100px;
    }

    .register-button {
        background-color: #D6650F;
        margin-left: 52.5%;
        margin-top: 2.5%;
        width: 43%;
        height: 74px;
        border: none;
        border-radius: 0px 25px 25px 25px;
        font-size: 18px;
        font-weight: 600;
        color: #29272F;

        &:hover {
            transition: 0.2s;
            transform: scale(1.05);
            cursor: pointer;
            background-color: #81AB76;
            color: #F2F2F2;
        }
    }
}

.middle-section {

    height: 100vh;

    margin-top: 180px;
}

.middle-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 35px;
        color: #29272F;
    }

    .see-more-link {
        border-radius: 15px;
        border: solid 1.5px #29272F;
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        a {
            text-decoration: none;
            color: #29272F;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            gap: 10px;
        }

        i {
            display: none;
        }

        &:hover {
            transition: 0.2s;
            cursor: pointer;
            background-color: #D6650F;
            width: 125px;
            border-color: #D6650F;

            a {
                color: #F2F2F2;
            }

            i {
                display: block;
            }
        }
    }
}

.listing-section {
    height: 600px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.newest-listings {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
}

.listing {

    color: #F2F2F2;
    z-index: 8;
    width: calc(30% - 20px);

    .listing-content {
        height: 430px;
        width: 100%;

        padding: 10px;

        border-radius: 25px 25px 25px 0px;
        background-color: #29272F;
        background-image: url(/media/textures/grain-texture2.png);
        background-repeat: repeat;
        background-size: contain;
        background-size: 100px;
        position: relative;

        .listing-media {
            width: 100%;
            height: 272px;
            border-radius: 25px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            background-color: #F2F2F2;
            background-image: url(/media/textures/grain-texture-light.png);
            background-repeat: repeat;
            background-size: contain;
            background-size: 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }

        .listing-details {
            height: 135px;
            margin-top: 0px;
            padding-top: 0px;
            overflow: hidden;
        }

        .listing-title {
            font-size: 20px;
        }

        .listing-description {
            font-size: 16px;
        }

        .total-bids {
            position: absolute;
            bottom: 0;
            top: 100%;
            display: flex;
            align-items: center;
            height: 78px;
            width: 196px;
            font-size: 20px;
        }
    }

    .listing-content::before {
        content: "";
        width: 55%;
        height: 88px;
        border-radius: 0px 0px 25px 25px;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #29272F;
        background-image: url(/media/textures/grain-texture2.png);
        background-repeat: repeat;
        background-size: contain;
        background-size: 100px;
    }

    .see-listing {
        background-color: #81AB76;
        margin-left: 62%;
        margin-top: 10px;
        width: 45%;
        height: 78px;
        border: none;
        border-radius: 0px 25px 25px 25px;
        font-weight: 600;

        i {
            font-size: 40px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            transition: 0.2s;
            cursor: pointer;

            margin-left: 65%;

            background-color: #D6650F;
        }
    }

    &:hover {
        cursor: pointer;
        transition: 0.4s;

        .listing-content {
            background-color: #29272F;
            transition: 0.2s;
        }

        .listing-content::before {
            background-color: #29272F;
            transition: 0.2s;
        }

        .see-listing {
            transition: 0.2s;
            cursor: pointer;

            margin-left: 65%;

            background-color: #D6650F;
        }
    }
}

.slider-buttons-content {
    position: absolute;
    top: 0;
    height: 540px;
    width: 100%;
}

.slider-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .next-left, .next-right{
        background-color: #D6650F;
        font-weight: 600;
        color: #F2F2F2;
        border-radius: 25px;
        height: 40px;
        width: 60px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: #29272F;
            transition: 0.2s;
        }
    }

    .next-right {
        &:hover {
            margin-right: -10px;
            transition: 0.2s;
        }
    }

    .next-left{
        &:hover {
            margin-left: -10px;
            transition: 0.2s;
        }
    }
}


/*Top-section Responsive*/
@media (max-width: 1350px) {
    
    .top-section-content-left {
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 35px;
                }
            }
        }
    }
    
}

@media (max-width: 1150px) {
    .top-section {
        height: 580px;
    }
    
    .top-section-border {
        width: 90%;
        padding: 20px;
    }
    
    .top-section-content-left {
        padding-left: 20px;
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 32px;
                }
            }
        }
    }
    
    .top-section-content-right {
        padding: 20px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content-right {
            padding: 10px;
            height: 339px;    
            .right-titles {
                height: 100px;
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 10px;
                }
            }
    
            .register-form {
                height: 73.3%;
                gap: 20px;
    
                .registration-username, .registration-email, .registration-password {
                    width: 200px;
                    height: 30px;
                }
            }
        }
    
        .content-right::before {
            height: 58px;
        }
    
        .register-button {
            background-color: #D6650F;
            margin-left: 52.5%;
            margin-top: 2.5%;
            width: 43%;
            height: 48px;

        }
    }
}

@media (max-width: 755px) {
    .top-section {
        height: 480px;
    }
    
    .top-section-border {
        padding: 10px;
    }
    
    .top-section-content-left {
        padding-left: 10px;
        width: 40%;
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 25px;
                }
            }
        }
    }
    
    .top-section-content-right {
        padding: 10px;    
        width: 55%;
        .content-right {
            padding: 10px;
            height: 300px;    
            .right-titles {
                height: 70px;
                h3 {
                    font-size: 16px;
                }
                h4 {
                    font-size: 10px;
                }
            }
        }
    
        .content-right::before {
            height: 48px;
        }
    
        .register-button {
            height: 38px;
            font-size: 14px;
        }
    }
}

@media (max-width: 650px) {

    .top-section-content-left {
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 550px) {

    .top-section-content-left {
        width: 50%;
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 20px;
                }
            }
        }
    }

    .top-section-content-right {
        width: 45%;
        .content-right {
            .register-form {
    
                .registration-username, .registration-email, .registration-password {
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width: 550px) {

    .top-section-content-left {
        width: 50%;
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 20px;
                }
            }
        }
    }

    .top-section-content-right {
        width: 45%;
        .content-right {
            .register-form {
    
                .registration-username, .registration-email, .registration-password {
                    width: 150px;
                }
            }
        }

        .register-button {
            font-size: 12px;
        }
    }
}

@media (max-width: 455px) {

    .top-section-content-left {
        display: none;
        .content-image-dividers {
            .content-left {
                .left-titles {
                    font-size: 20px;
                }
            }
        }
    }

    .top-section-content-right {
        width: 100%;
        .content-right {
            .register-form {
    
                .registration-username, .registration-email, .registration-password {
                    width: 150px;
                }
            }
        }

        .register-button {
            font-size: 12px;
        }
    }
}




/*Middle section responsive*/

@media (max-width: 1300px) {
    
.middle-section {
    margin-top: 80px;
    height: 80vh;
}

.middle-section-title {

    h2 {
        font-size: 30px;
    }
}

.listing-section {
    height: 450px;
}

.newest-listings { 
    margin-left: 75px;
    margin-right: 75px;
}

.listing {

    .listing-content {
        height: 375px;

        .listing-media {
            height: 225px;
        }

        .listing-details {
        }

        .listing-title {
            font-size: 17px;
        }

        .listing-description {
            font-size: 13px;
        }

        .total-bids {
            height: 50px;
            font-size: 17px;
        }
    }

    .listing-content::before {
        height: 50px;
    }

    .see-listing {
        height: 45px;
        margin-top: 5px;

        i {
            font-size: 30px;
        }
    }
}

}

@media (max-width: 1100px) {
    
    .newest-listings { 
        margin-left: 45px;
        margin-right: 60px;
    }

    .listing {
        width: calc(45% - 20px);
    }

}