.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: #29272f62;

    p {
        font-weight: 700;
    }

    span {
        font-size: 12px;
        font-style: italic;
    }

    .popup-content {
        position: absolute;
        background-color: #29272F;
        background-image: url(/media/textures/grain-texture2.png);
        background-repeat: repeat;
        background-size: contain;
        background-size: 100px; 
        transform: translate(-50%);
        left: 50%;
        top: 40%;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        color: #F2F2F2;
    }

    .popup-buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;            

        .confirm-yes {
            background-color: #D6650F;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            color: #F2F2F2;

            &:hover {
                cursor: pointer;
                transition: 0.2s;
                background-color:#81AB76;
                border-color: #81AB76;
                color: #29272F;
            }
        }

        .confirm-no {
            background-color: #29272F;
            border: solid 1.5px #F2F2F2;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            color: #F2F2F2;

            &:hover {
                cursor: pointer;
                transition: 0.2s;
                background-color:#81AB76;
                border-color: #81AB76;
                color: #29272F;
            }
        }
    }
}

.hidden {
    display: none;
}