body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #EBEEE9;
    font-family: "Libre Bodoni", serif;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.margin-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
}

@media (max-width: 990px) {
    .margin-section {
        margin-left: 5%;
        margin-right: 5%;
    }
}