footer {
    background-color: #29272F;
    background-image: url(/media/textures/grain-texture2.png);
    background-repeat: repeat;
    background-size: contain;
    background-size: 100px;
    padding: 20px;
    left: 0;
    bottom: 0;
    margin-left: -8px;
    height: 450px;
    width: 100%;

    color: #F2F2F2;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: column;

    .questions {
        width: 35%;
        margin-top: 50px;
        margin-left: 5%;

        h3 {
            font-size: 27px;
        }

        p {
            font-size: 17px;
        }

        .questions-contacts {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            i {
                margin-right: 10px;
            }
        }
    }

    .footer-links {
        margin-top: 55px;
        width: 45%;
        display: flex;
        flex-direction: row;
        margin-right: 5%;

        justify-content: space-evenly;

        .about, .services, .contact {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .footer-links-title {
                font-size: 25px;

                &:hover {
                    color: #81AB76;
                    transition: 0.2s;
                }
            }

            a {
                text-decoration: none;
                color: #F2F2F2;
                font-size: 20px;

                &:hover {
                    color: #D6650F;
                    transition: 0.2s;
                }
            }
        }
    }
}

/*
@media screen and (max-width: 960px) {
    footer {

        .questions {
    
            h3 {
                font-size: 24px;
            }
    
            p {
                font-size: 14px;
            }
        }
    
        .footer-links {
    
            width: 42%;
    
            .about, .services, .contact {
                .footer-links-title {
                    font-size: 19px;
                }
    
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 715px) {
    footer {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 600px;
        padding-bottom: 80px;
    
        .questions {
            width: 85%;
            margin-left: 5%;
        }
    
        .footer-links {
            width: 90%;
        }
    }
}
*/