.responsive-menu {
  position: relative;
  display: none;

  left: 5%;
  transform: translate(-5%);

  input {
      opacity: 0;
  }

  .links2 {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 250px;
      top: 45px;
      left: 0%;
      transform: translate(-50%);
      height: 325px;
      background-color: #EBEEE9;
      border-radius: 0px 0px 25px 25px;
      border: solid 1.5px #29272F;
      padding: 20px;
      gap: 20px; 

  }
}

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger-line {
  width: 30px;
  height: 5px;
  background-color: #29272F;
  border-radius: 100px;
}

.menu-toggle:checked + .hamburger-menu .hamburger-line:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  transition: 0.2s;
}

.menu-toggle:checked + .hamburger-menu .hamburger-line:nth-child(2) {
  opacity: 0;
  transition: 0.2s;
}

.menu-toggle:checked + .hamburger-menu .hamburger-line:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
  transition: 0.2s;
}

.menu-toggle:checked ~ .links2 {
  display: flex;
  animation: slide-down 0.3s ease-in-out;
}

.user-options {
  display: flex;
}

.nav-links {
  display: flex;
}

@media (max-width: 990px) {
  .responsive-menu {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .user-options {
    display: none;
  }
}